<div class="top">
  <div class="top-row">
  
    <div class="left">
      <span class="blackbar title big">Leet Connect 4</span><br>
      <a href="https://github.com/leetcoin/" target="_blank" class="blackbar link">Source code</a>
    </div>
    
    <div class="right">
      <!--
      <span class="blackbar title">Wager: 100 Satoshi</span><br>
      <span class="blackbar">Match <%= game.id %></span>
      -->
    </div>
    
  </div>
  
  <div class="top-row">
    
  </div>
  
</div>




<div id='other-player' class="status-holder" style='display:none'>
  <span class="blackbar status"><span>Waiting for another player to join.</span><br></span>
</div>

<div id='your-move-X' class="status-holder" style='display:none'>
  <span class="blackbar status"><span>Your move! Click a column to drop a blue piece.</span></span>
</div>
<div id='your-move-O' class="status-holder" style='display:none'>
  <span class="blackbar status"><span>Your move! Click a column to drop a green piece.</span></span>
</div>
<div id='their-move' class="status-holder" style='display:none'>
  <span class="blackbar status"><span>Waiting for other player to move...</span></span>
</div>
<div class="status-holder" id='draw'>
  <span class="blackbar status"><span>Draw game!</span></span>
</div>
<div class="status-holder" id='you-won'>
  <span class="blackbar status"><span>You won this game!</span></span>
</div>
<div class="status-holder" id='you-lost'>
  <span class="blackbar status"><span>You lost this game.</span></span>
</div>

<!--
<div id='board' class='drop'>

  <div class='t l r cell'id='5-0'></div>
  <div class='t c cell'  id='5-1'></div>
  <div class='t r cell'  id='5-2'></div>
  <div class='t r cell'  id='5-3'></div>
  <div class='t r cell'  id='5-4'></div>
  <div class='t r cell'  id='5-5'></div>
  <div class='t l r cell'id='5-6'></div>
  
  
  
  <div class='t l r cell'id='4-0'></div>
  <div class='t c cell'  id='4-1'></div>
  <div class='t r cell'  id='4-2'></div>
  <div class='t r cell'  id='4-3'></div>
  <div class='t r cell'  id='4-4'></div>
  <div class='t r cell'  id='4-5'></div>
  <div class='t l r cell'id='4-6'></div>
  
  
  
  <div class='t l r cell'id='3-0'></div>
  <div class='t c cell'  id='3-1'></div>
  <div class='t r cell'  id='3-2'></div>
  <div class='t r cell'  id='3-3'></div>
  <div class='t r cell'  id='3-4'></div>
  <div class='t r cell'  id='3-5'></div>
  <div class='t l r cell'id='3-6'></div>
  
  
  
  <div class='t l r cell'id='2-0'></div>
  <div class='t c cell'  id='2-1'></div>
  <div class='t r cell'  id='2-2'></div>
  <div class='t r cell'  id='2-3'></div>
  <div class='t r cell'  id='2-4'></div>
  <div class='t r cell'  id='2-5'></div>
  <div class='t l r cell'id='2-6'></div>
  
  
  
  <div class='t l r cell'id='1-0'></div>
  <div class='t c cell'  id='1-1'></div>
  <div class='t r cell'  id='1-2'></div>
  <div class='t r cell'  id='1-3'></div>
  <div class='t r cell'  id='1-4'></div>
  <div class='t r cell'  id='1-5'></div>
  <div class='t l r cell'id='1-6'></div>
  
  
  
  <div class='t l r cell'id='0-0'></div>
  <div class='t c cell'  id='0-1'></div>
  <div class='t r cell'  id='0-2'></div>
  <div class='t r cell'  id='0-3'></div>
  <div class='t r cell'  id='0-4'></div>
  <div class='t r cell'  id='0-5'></div>
  <div class='t l r cell'id='0-6'></div>
  
  
</div>

-->


<div id='board' class='drop'>

  <div class="col">
    <div class='t l r cell'><div id='5-0'></div></div>
    <div class='t l r cell'><div id='4-0'></div></div>
    <div class='t l r cell'><div id='3-0'></div></div>
    <div class='t l r cell'><div id='2-0'></div></div>
    <div class='t l r cell'><div id='1-0'></div></div>
    <div class='t l r cell'><div id='0-0'></div></div>
  </div>
  
  <div class="col"> 
    <div class='t c cell'  ><div id='5-1'></div></div>
    <div class='t c cell'  ><div id='4-1'></div></div>
    <div class='t c cell'  ><div id='3-1'></div></div>
    <div class='t c cell'  ><div id='2-1'></div></div>
    <div class='t c cell'  ><div id='1-1'></div></div>
    <div class='t c cell'  ><div id='0-1'></div></div>
  </div>
  
  <div class="col">
    <div class='t r cell'  ><div id='5-2'></div></div>
    <div class='t r cell'  ><div id='4-2'></div></div>
    <div class='t r cell'  ><div id='3-2'></div></div>
    <div class='t r cell'  ><div id='2-2'></div></div>
    <div class='t r cell'  ><div id='1-2'></div></div>
    <div class='t r cell'  ><div id='0-2'></div></div>
  </div>
  
  <div class="col">
    <div class='t r cell'  ><div id='5-3'></div></div>
    <div class='t r cell'  ><div id='4-3'></div></div>
    <div class='t r cell'  ><div id='3-3'></div></div>
    <div class='t r cell'  ><div id='2-3'></div></div>
    <div class='t r cell'  ><div id='1-3'></div></div>
    <div class='t r cell'  ><div id='0-3'></div></div>
  </div>
  
  <div class="col">
    <div class='t r cell'  ><div id='5-4'></div></div>
    <div class='t r cell'  ><div id='4-4'></div></div>
    <div class='t r cell'  ><div id='3-4'></div></div>
    <div class='t r cell'  ><div id='2-4'></div></div>
    <div class='t r cell'  ><div id='1-4'></div></div>
    <div class='t r cell'  ><div id='0-4'></div></div>
  </div>
  
  <div class="col">
    <div class='t r cell'  ><div id='5-5'></div></div>
    <div class='t r cell'  ><div id='4-5'></div></div>
    <div class='t r cell'  ><div id='3-5'></div></div>
    <div class='t r cell'  ><div id='2-5'></div></div>
    <div class='t r cell'  ><div id='1-5'></div></div>
    <div class='t r cell'  ><div id='0-5'></div></div>
  </div>
  
  <div class="col">
    <div class='t l r cell'><div id='5-6'></div></div>
    <div class='t l r cell'><div id='4-6'></div></div>
    <div class='t l r cell'><div id='3-6'></div></div>
    <div class='t l r cell'><div id='2-6'></div></div>
    <div class='t l r cell'><div id='1-6'></div></div>
    <div class='t l r cell'><div id='0-6'></div></div>
  </div>
  
  
  
</div>



<br><br>
<!-- a href="/logout">Log Out</a -->


<script src="/socket.io/socket.io.js"></script>
<script type='text/javascript'>
  function updateGame() {      
    var game = state.game;
    for (var n = 0; n < game.board.length; n++) {
      for (var m = 0; m < game.nRows; m++) {
        var square = document.getElementById(m + '-' + n);
        //square.innerHTML = game.board[n][m] || ' ';
        
        //square.style.background = "transparent";
        if (game.board[n][m] == 'X') {
          square.innerHTML = '&#9679';
          
          $(square).addClass('reduce')
          square.style.color = '#0575EB'
        } else if (game.board[n][m] == 'O') {
          
          square.innerHTML = '&#9679';
          $(square).addClass('reduce')
          
          square.style.color = '#83DF55'
        }
      }
    }

    if (!!game.winner && !!game.winVector) {
      for(var i = 0; i < game.winVector.length; i++) {
        var n = game.winVector[i][0];
        var m = game.winVector[i][1];
        var square = document.getElementById(m + '-' + n);
        if (game.winner == state.userId) {
          //square.style.background = "green";
          
          $(square).addClass('winner')
        } else {
          //square.style.background = "red";
          
          $(square).addClass('winner')
        }
      }
    }

    var display = {
      'board': 'flex',
      'your-move-X': 'none',
      'your-move-O': 'none',
      'their-move': 'none',
      'other-player': 'none',
      'draw': 'none',
      'you-won': 'none',
      'you-lost': 'none'
    }; 

    if (!game.player1 || !game.player2) {
      display['other-player'] = 'block';
      display['board'] = 'none';
    } else if (game.winner == state.userId) {
      display['you-won'] = 'block';
    } else if (game.winner) {
      display['you-lost'] = 'block';
    } else if (game.draw) {
      display['draw'] = 'block';
    } else if (isMyMove()) {
      if(game.player1 == state.userId) display['your-move-X'] = 'block';
      else display['your-move-O'] = 'block';
    } else {
      display['their-move'] = 'block';
    }

    console.log(game)

    for (var label in display) {
      document.getElementById(label).style.display = display[label];
    }
  };

  function isMyMove() {
    var game = state.game;
    return game[game.turn] == state.userId;
  }

  function moveInColumn(n) {
    socket.emit('move', n);      
  }

  function highlightColumn(n) {
    var game = state.game;

    if(!isMyMove() || game.winner) return;
    
    for (var _n = 0; _n < game.board.length; _n++) {
      for (var _m = 0; _m < game.nRows; _m++) {
        if (n == _n) {
          color = 'lightblue';
        } else {
          color = 'white';
        }

        //document.getElementById(_m + '-' + _n).style.background = color;
      }
    }
    
    
    
    
    /*
    for (var _n = 0; _n < game.board.length; _n++) {
      for (var _m = 0; _m < game.nRows; _m++) {
        
        var thisSquare = String('#' + _m + '-' + _n)
        
        if (n == _n) {
          bgClass = 'highlight';
        } else {
          bgClass = 'none';
        }
        
        $(thisSquare).toggleClass(bgClass)
        console.log(thisSquare)
        
        //document.getElementById(_m + '-' + _n).style.background = bg;
      }
    }
    */
    
    
  }

  var state = {
    userId: '<%= userId %>',
    game: <%- JSON.stringify(game) %>
  };

  var socket = io.connect('/<%= game.id %>');
  
  socket.on('game', function(game) {
    state.game = game;
    updateGame();
  });
  
  updateGame();
  
  var game = state.game;
  for (var n = 0; n < game.board.length; n++) {
    for (var m = 0; m < game.nRows; m++) {
      var square = document.getElementById(m + '-' + n);
      square.onmouseover = new Function('highlightColumn(' + n + ')');
      square.onclick = new Function('moveInColumn(' + n + ')');
    }
  }
</script>
